* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: beige;
}

#root {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding-bottom: 2rem;
}

.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}
