* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 35rem;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
}

body {
  background: beige;
}

h1 {
  padding-bottom: 2rem;
}
